$white: #fff;
$accent: #E78A00;
$second: #FFEBCD;
$gray: #DFE0DF;

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.app {
  width: 100%;
  height: 100%;
  //background-color: $light-gray;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  padding: 20px;
  border-radius: 10px;
  background: $white;
  width: 100%;
  max-width: 600px;
}

.btn-reset {
  outline: none;
  font-family: inherit;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
}

.input-reset {
  border: none;
  outline: none;
  padding: 5px 10px;
  font-family: inherit;
  background: transparent;
  font-size: 16px;
}

.input {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 30px;

  &__fields {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $second;
    border-radius: 25px;
    z-index: 0;
  }

  &__title {
    height: 60px;
    background: $accent;
    color: $white;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 2px rgba(000, 000, 000, 0.2);

    &::placeholder {
      color: $white;
      font-size: 24px;
      opacity: 0.5;
    }
  }

  &__wrapper {
    position: relative;
    background: none;
    z-index: -2;
  }

  &__body {
    position: relative;
    resize: none;
    padding: 15px 10px 10px;
    background: none;
    width: 100%;
    z-index: 2;
    font-size: 16px;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 3px;
    }

  }

  &__highlight {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    padding: 15px 10px 10px 9px;
    font-family: inherit;
    font-size: 16px;
    color: transparent;
    white-space: pre;

    &-on {
      background: $accent;
      opacity: 0.6;
      border-radius: 3px;
    }
  }

  &__add {
    position: absolute;
    bottom: -25px;
    right: 30px;
    border-radius: 50%;
    background: $accent;
    border: none;
    padding: 30px;
    box-shadow: 0 0 6px 1px rgba(000, 000, 000, 0.3);
    & img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 28px
    }
    //
    //&:before {
    //  position: absolute;
    //  top: 50%;
    //  left: 50%;
    //  transform: translate(-50%, -50%);
    //  content: '';
    //  background: $white;
    //  width: 25px;
    //  height: 4px;
    //}
    //
    //&:after {
    //  position: absolute;
    //  top: 50%;
    //  left: 50%;
    //  transform: translate(-50%, -50%);
    //  content: '';
    //  background: $white;
    //  width: 4px;
    //  height: 25px;
    //}
  }

  //&__save{
  //  position: absolute;
  //  bottom: -25px;
  //  right: 30px;
  //  border-radius: 50%;
  //  background: $accent;
  //  border: none;
  //  padding: 30px;
  //  box-shadow: 0 0 6px 1px rgba(000, 000, 000, 0.3);
  //  &:before{
  //    content: 'Save';
  //    position: absolute;
  //    top: 50%;
  //    left: 50%;
  //    transform: translate(-50%, -50%);
  //    color: $white;
  //    font-weight: 700;
  //    font-size: 18px;
  //  }
  //}

}

.new-tags {
  padding: 10px;
  max-width: 85%;

  &__title {
    margin-right: 10px;
    color: rgba(000, 000, 000, 0.6)
  }

  &__input {
    width: 28%;
    color: rgba(000, 000, 000, 0.5);

    &::placeholder {
      opacity: 0.4;
    }
  }
}

.tag {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 3px;
  background: $accent;
  border-radius: 10px;
  padding: 3px 6px;
  color: rgba(000, 000, 000, 0.8);
  opacity: 0.8;
  cursor: pointer;

  &__remove {
    width: 10px;
    height: 10px;
    opacity: 0.7;
    margin-left: 3px;
    cursor: pointer;
  }
}

.notes-list {
  &__filter {
    display: flex;
    margin-bottom: 15px;
    min-height: 30px;

    &-title {
      min-width: 75px;
      padding: 3px 6px;
      margin-bottom: 3px;
    }
  }
}

.note {
  background: $second;
  border: 2px solid $gray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

  &__edit {
    background: #FFC0BA;
  }

  &__first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  &__title {
    max-width: 80%;
    font-weight: 700;
    font-size: 18px;
  }

  &__date {
    opacity: 0.6;
    font-size: 12px;
  }

  &__tags {
    width: 80%;
    margin-top: 5px;

    &-title {
      display: inline-block;
      margin-right: 5px;
      opacity: 0.7;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btns {
    display: flex;
  }

  &__btn {
    border-radius: 50%;
    position: relative;
    padding: 15px;
    margin-left: 10px;
    border: none;
    background: $accent;
    margin-bottom: 5px;


    & img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media (max-width: 500px) {
  .note__btns {
    flex-direction: column;
  }
}